<!DOCTYPE html>
<html lang="en">
<head>
  <title>Society Management Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Society Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'societyapp:dashboard' %}">Home</a></li>
         {% if user.is_authenticated %}
      <li><a href="#">User Profile</a></li>
        <li><a href="{% url 'societyapp:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'societyapp:login' %}">Login</a></li>
        <li><a href="{% url 'societyapp:signup' %}">Signup</a></li>
        {% endif %}
        <li>  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
        <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>
    </ul>
  </div>
</nav>

{% if error %}
{{ error }}


<br/>
<br/>
{% endif %}


<div class="container mt-5">
    <h1>Login!</h1>
<form method = "POST" >
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="email" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br/>
    <input class ="btn btn-primary p-10" type="submit" value= "Login" />
    <br/>



</form>
    </div>
 <div class="container mt-5 " >
    <a href="{% url 'societyapp:reset' %}" class="btn btn-primary btn-sm p-10">Forget Password</a>
</div>
    <div class="container mt-5 " >
    <a href="{% url 'societyapp:signup' %}" class="btn btn-primary btn-sm p-10">Want To Register?</a>
</div>
</html>